@import "tailwindcss";

/* 🔹 Animasi pintu kiri */
@keyframes doorLeft {
  0% {
    transform: translateX(0) rotateY(0deg);
    transform-origin: right center;
  }
  100% {
    transform: translateX(-120%) rotateY(0deg);
    transform-origin: right center;
  }
}

/* 🔹 Animasi pintu kanan */
@keyframes doorRight {
  0% {
    transform: translateX(0) rotateY(0deg);
    transform-origin: left center;
  }
  100% {
    transform: translateX(120%) rotateY(0deg);
    transform-origin: left center;
  }
}

.animate-door-left {
  animation: doorLeft 3s ease-in-out forwards;
}

.animate-door-right {
  animation: doorRight 3s ease-in-out forwards;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
